# Variables de entorno
.env

# Archivos de compilación
target/
node_modules/
dist/
build/

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
